<a href="https://colab.research.google.com/github/sumantsharma16/PythonTutorial/blob/main/List_Tuple_Set_Dictionay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Type of objects in Python:
1. Immutable Objects
2. Mutable Oblects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

List

In [1]:
# list should be include in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [2]:
my_list = [2,3,1,8,'English',True]
print(my_list)

[2, 3, 1, 8, 'English', True]

List are mutable --> Changeable

In [3]:
my_list = [2,3,1,8,'English',True]
my_list.append(6)
print(my_list)

[2, 3, 1, 8, 'English', True, 6]

In [5]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1

In [6]:
# list allow duplicate values
list_1 = [1,2,3,4,12,2,3]
print(list_1)

[1, 2, 3, 4, 12, 2, 3]

In [7]:
print(len(list_1))

7

In [8]:
list_2 = []
print(list_2)

[]

In [9]:
list_2.append(5)
print(list_2)

[5]

In [11]:
# delete an item in a list
list_2 = [2,3,1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [12]:
# join two list
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [14]:
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [15]:
# tuple allow multiple data types
tuple_2 = (1,2,3,4.4,'Machine Learning', False)
print(tuple_2)

(1, 2, 3, 4.4, 'Machine Learning', False)

In [16]:
# converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

Tuples are immutable --> Unchangeable

In [17]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
print(len(my_tuple))

4

In [19]:
my_tuple = list(my_tuple)

In [20]:
print(my_tuple)

[3, 4, 5, 6]

Set

In [21]:
# set --> Curly brackets
my_set = { 1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [22]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [23]:
# convert a list to a set
list_5 = [2,3,4,5,6]

x = set(list_5)
print(x)

{2, 3, 4, 5, 6}

In [24]:
# set does not allow duplicate values
set_3 = {1,2,3,4,1,2,4}
print(set_3)

{1, 2, 3, 4}

**Dictionary**

Key-Value Pair

In [25]:
my_dictionary = {'name':'David', 'age':30, 'country': 'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [26]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [28]:
# dictionary does not allow duplicate value
dictionary_2 = {'name':'David', 'age':30, 'country':'India','name':'David', 'age':30, 'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}

In [ ]:
print