<a href="https://colab.research.google.com/github/sumantsharma16/PythonTutorial/blob/main/Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [1]:
laptop1 = int(input('Enter the price of the laptop: '))
laptop2 = int(input('Enter the price of the laptop: '))
laptop3 = int(input('Enter the price of the laptop: '))
laptop4 = int(input('Enter the price of the laptop: '))
laptop5 = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [3]:
for i in range(7): # 0,1,2,3,4,5,6

  laptop_price = int(input("Enter the price of the laptop: "))

Enter the price of the laptop: 6
Enter the price of the laptop: 4
Enter the price of the laptop: 8
Enter the price of the laptop: 9
Enter the price of the laptop: 5
Enter the price of the laptop: 1
Enter the price of the laptop: 3

In [4]:
number = [50, 100, 150, 200]
print(number[0])
print(number[1])
print(number[2])
print(number[3])

50
100
150
200

In [5]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

While Look

while condition

In [6]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [10]:
i = 5

while i <10:
  print(i)
  i += 1

5
6
7
8
9