# Introduction to loop

Some times a programmer wants to execute a group of statements a certain number of times. This can be done using loops. Based on this loop are further classified into following main types:

. for loop

. while loop


**The for Loop**

for loops can iterate over a sequence of iterable objects in python. Iterating over a sequence is nothing but iterating over strings, lists, tuples, sets and dictionaries.

In [1]:
name = 'Sumant'
for i in name:
  print(i, end=", ")

S, u, m, a, n, t,

In [2]:
colors = ['Red', 'Blue', 'Green', 'Yellow']
for x in colors:
  print(x)

Red
Blue
Green
Yellow

**range()**

What if we do not want to iterate over a sequence ? What if we want to use for loop for specific number of times?

Here we can use the range() function.

In [3]:
for k in range(5):
  print(k)

0
1
2
3
4

Here, we can see that the loop starts from 0 by default and increments at each iteration.

But we can also loop over a specific range.

In [4]:
for k in range (4,9):
  print(k)

4
5
6
7
8