# Joining Sets


Sets in python more or less work in the same way as sets in mathematics. We can perform operations like union and intersection on the sets just like in mathematics.

**I. union() and update()**

The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the exisiting set from another set.

In [1]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}

cities3 = cities.union(cities2)
print(cities3)

{'Tokyo', 'Delhi', 'kabul', 'Seoul', 'Madrid', 'Berlin'}

In [3]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}
cities.update(cities2)
print(cities)

{'Tokyo', 'Delhi', 'kabul', 'Seoul', 'Madrid', 'Berlin'}

**II. intersection and intersection_update():**

The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

In [4]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}

cities3 = cities.intersection(cities2)
print(cities3)

{'Tokyo', 'Madrid'}

In [5]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}

cities.intersection_update(cities2)
print(cities)

{'Tokyo', 'Madrid'}

**III. symmetric_difference and symmetric_difference_update():**

The symmetric_difference() and symmetric_differenc_update() methods prints only items that are not similar to both the sets. The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}

cities3 = cities.symmetric_difference(cities2)
print(cities3)

{'Seoul', 'Berlin', 'Delhi', 'kabul'}

In [7]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}

cities.symmetric_difference(cities2)
print(cities)

{'Tokyo', 'Madrid', 'Berlin', 'Delhi'}

**IV. difference() and difference_update():**

The difference() and difference_update() method prints only items that are only present in the original set and not in both the sets. The differnece() method returns a new set whereas difference_update() method updates into existing set from another set.

In [8]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}

cities3 = cities.difference(cities2)
print(cities3)

{'Berlin', 'Delhi'}

In [9]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}


print(cities.difference(cities2))

{'Berlin', 'Delhi'}

**Set Methods**

There are several in-built method used for the manipulation of set. They are explained below:

**isdisjoint():**

The isdisjoint() method checks if items of given set are present in another set. This method returns False if items are present, else it return True.

In [10]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}

print(cities.isdisjoint(cities2))

False

**issuperset():**

The issuperset() method checks if all the items of a particular set are present in the original set. It returns True if all the items are present, else it return False.

In [11]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "kabul", "Madrid"}
print(cities.issuperset(cities2))
cities3 = {"Seoul", "Madrid", "Kabul"}
print(cities.issuperset(cities3))

False
False

**issubset():**

The issubset() method checks if all the items of the original set are present in the particular set. It returns True if all the items are present, else it return False.

In [13]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = {"Tokyo", "Seoul", "Delhi", "Madrid"}


print(cities2.issubset(cities))

False

**add()**

If you want to add a single item to the set use the add() method.

In [14]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Dangoli")
print(cities)

{'Tokyo', 'Dangoli', 'Delhi', 'Madrid', 'Berlin'}

**update()**

If yor want to add more than one items, simple create another set or any other iterable object(list, tuple, dictionary), and use the updata() method to add it into the existing set.

In [15]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}

cities2 = { "Helsinki", 'Warsaw', "Seoul"}
cities.update(cities2)
print(cities)

{'Tokyo', 'Warsaw', 'Seoul', 'Madrid', 'Berlin', 'Delhi', 'Helsinki'}

**remove() / discard()**

We can use remove() and discard() methods to remove items from list

In [17]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)

{'Madrid', 'Berlin', 'Delhi'}

the main difference between remove and discard is that if we try to delete an item which is not present in set then remove() raises an error whereas discard() does not raise any error

In [18]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Seoul")
print(cities)

KeyError: ignored

**pop():**

This method removes the last item of the set but the catch is that we don't know which item gets popped as set are unordered. However you can access the popped item if you assign the pop() method to a variable.

In [19]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = cities.pop()
print(cities)
print(item)

{'Madrid', 'Berlin', 'Delhi'}
Tokyo

**del**

del is not a method rather it is a keyword which deletes the set entirely

In [20]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
del cities
print(cities)

NameError: ignored

**clear()**

This method clears all items in the set and print an empty set

In [21]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.clear()
print(cities)

set()

**Check if item exists**

You can also check if an item exists in the set or not

In [22]:
info = {'Carla', 19, False, 5.9}
if "Carla" in info:
  print("Carla is present")
else:
  print("Carla is not present")

Carla is present