# List Method

**list.sort()**

This method sorts the list in ascending order. The orginal list is updated

In [2]:
colors = ["voilet" , "indigo", "Blue", "green"]

colors.sort()
print(colors)

['Blue', 'green', 'indigo', 'voilet']

In [5]:
num = [5,67,8,5,6,2,7,8,9,1,2,3,5,67,88,99]
num.sort()
print(num)

[1, 2, 2, 3, 5, 5, 5, 6, 7, 8, 8, 9, 67, 67, 88, 99]

What if you want to print list in descending order?
We must give reverse = True as a prameter in the sort method.

In [6]:
colors = ["voilet", "indego", "blue", "green"]

colors.sort(reverse=True)
print(colors)

['voilet', 'indego', 'green', 'blue']

In [7]:
num = [5,67,8,5,6,2,7,8,9,1,2,3,5,67,88,99]
num.sort(reverse=True)
print(num)

[99, 88, 67, 67, 9, 8, 8, 7, 6, 5, 5, 5, 3, 2, 2, 1]

**reverse()**

this method reverses the order of the list.

In [9]:
colors = ["voilet", "indego", "blue", "green"]

colors.reverse()
print(colors)

['green', 'blue', 'indego', 'voilet']

In [10]:
num = [5,67,8,5,6,2,7,8,9,1,2,3,5,67,88,99]

num.reverse()
print(num)

[99, 88, 67, 5, 3, 2, 1, 9, 8, 7, 2, 6, 5, 8, 67, 5]

**index()**

this method returns the index of the first occurance of the list item.

In [12]:
colors = ["voilet", "green", "indigo", "blue", "green"]

print(colors.index("green"))

1

In [14]:
num = [99, 88, 67, 5, 3, 2, 1, 9, 8, 7, 2, 6, 5, 8, 67, 5]

print(num.index(2))

5

**count()**

Return the counts of the number of items with the given value

In [15]:
num = [99, 88, 67, 5, 3, 2, 1, 9, 8, 7, 2, 6, 5, 8, 67, 5]

print(num.count(2))

2

In [16]:
colors = ["voilet", "green", "indigo", "blue", "green"]

print(colors.count("green"))

2

**copy()**


Returns copy of the list. This can be done to perform operation on the list without modifying the original list.

In [19]:
colors = ["voilet", "green", "indigo", "blue", "green"]

newlist = colors.copy()
print(colors)
print(newlist)

['voilet', 'green', 'indigo', 'blue', 'green']
['voilet', 'green', 'indigo', 'blue', 'green']

**append():**

this method appends items to the end of the existing list.

In [21]:
color = ['green' , 'indigo', 'blue']
color.append("red")
print(color)

['green', 'indigo', 'blue', 'red']

**insert():**

This method insets an item at the given index. User has to specify index and the item to be inserted within inset() method.

In [22]:
colors = ['voilet', "inigo", "blue"]

colors.insert(1, "green")

In [23]:
print(colors)

['voilet', 'green', 'inigo', 'blue']

**extend():**

This method adds an entire list or any other collection datatype(set , tuple, dictionary to the existing list.)

**Concatenating two list:**

You can simply concatenate two lists to join two lists.