# Python Tuples

Tuples are ordered collection of data items. They store multiple items in a single variable. Tuple items are separated by comman and enclosed within round brackets () . Tuples are unchangeable meaning we can not alter them after creation.

In [1]:
tuple1 = (1,2,3,4,5,6,6)
tuple2 = ("'Red", "Green", "Blue")

print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5, 6, 6)
("'Red", 'Green', 'Blue')

In [2]:
details = ("Abhigeet", 18, "DKGHVNAdfTT", 9.8)

In [3]:
print(details)

('Abhigeet', 18, 'DKGHVNAdfTT', 9.8)

Accessing tuple items:

I. Positive Indexing

As we have seen that tuple items have index, as such we can access items using these indexes.

In [4]:
country = ("Spain" , "Italy", "India")

In [4]:
print(country[0])
print(country[1])
print(country[2])

II. Negative Indexing

Similar to positive indexing, negative indexing is also used to access items, but from the end of the tuple. The last item has index[-1], second last item has indes[-2], third last item has index [-3] and so on.

In [5]:
country = ("Spain", "Italy", "India", "England", "Germany")

print(country[-1])
print(country[len(country) -1])
print(country[-3])
print(country[-4])

Germany
Germany
India
Italy

III. Check for item:

We can check if a given item is present in the tuple. This is done using the in keyword.

In [6]:
country = ("Spain", "Italy", "India", "England", "Germany")

if "Germany" in country:
  print("Germany is present")

else:
  print("Germany is absent")

Germany is present

In [8]:
country = ("Spain", "Italy", "India", "England", "Germany")


if "Russia" in country:
  print("Russia is present")
else:
  print("Russia is absent")

Russia is absent

IV. Range of Index:

You can print a range of tuple items by specifying where do you want to start, where do you want to end and if you want to skip elements in between the range.

In [10]:
# Tuple[start : end : jumpIndex]

Note: jump index is optional.We will see this in given examples.

Printing elements within a particular range.

In [13]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donker", "goat", "cow")

print(animals[3:7])
print(animals[-7:-2])

('mouse', 'pig', 'horse', 'donker')
('bat', 'mouse', 'pig', 'horse', 'donker')

Here, we provide index of the element from where we want to start and the index of the element till which we want to print the values. Note: The element of the end index provided will not be included.

In [14]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donker", "goat", "cow")

print(animals[3:])
print(animals[-7:])

('mouse', 'pig', 'horse', 'donker', 'goat', 'cow')
('bat', 'mouse', 'pig', 'horse', 'donker', 'goat', 'cow')

when no end index is provided the interperter prints all the values till the end.

In [16]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donker", "goat", "cow")

print(animals[:7])
print(animals[:-4])

('cat', 'dog', 'bat', 'mouse', 'pig', 'horse', 'donker')
('cat', 'dog', 'bat', 'mouse', 'pig')

In [17]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donker", "goat", "cow")

print(animals[::7])
print(animals[-8:-1:2])

('cat', 'goat')
('dog', 'mouse', 'horse', 'goat')

Here we have not provide start and end index which means all the values will be consider. But as we have provided a jump index of 2 only alternate values will be printed.

**Example: printing every 3rd consecutive within given range**

In [18]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donker", "goat", "cow")

print(animals[1:8:3])

('dog', 'pig', 'goat')

Here jump index is 3 . Hence it prints every 3rd element within given index.