# Strings

**What are strings?**

In python, any thing that enclose between single or double quotation marks is considered a string. A string is essentially a sequnce or array of textual data. String are used when working with Unicode characters.

In [1]:
name = "Sumant"
print("Hello," + name)

Hello,Sumant

**Note**: It does not matter whether you enclose your strings in single or double quotes, the output remains the same.

Sometime, the user might need to put quotation marks in between the string. Example, consider the sentence : He said, "I want to eat an apple". We will definitely use single quotes for out convenience

In [3]:
print('He said, " I want to eat an apple" .')

He said, " I want to eat an apple" .

Multiline Strings

If our strings has multiple lines, we can create them like this:

In [4]:
a = """ dskjiot 
 aj j 
  a  df   fdsfjai a sdf s dfsdfa  dtjier  hsjghiu 
  sdgfh sh shgiuh s shgj hsh sg hgshfh sh gsh
  fghush hgu etu  egeyt  tr gsh ."""

print(a)

 dskjiot
 aj j
  a  df   fdsfjai a sdf s dfsdfa  dtjier  hsjghiu
  sdgfh sh shgiuh s shgj hsh sg hgshfh sh gsh
  fghush hgu etu  egeyt  tr gsh .

Accessing characters of a string

In python string is like an array of characters. We can access parts of string by using its index which starts from 0.
Square brackets can be used to access elements of the string.

In [5]:
print(name[0])
print(name[2])

S
m

Looping throug the string

we can loop through string using a for loop like this:

In [6]:
for character in name:
  print(character)

S
u
m
a
n
t