# Type casting

The conversion of one data type into the other data type is known as type casting in python or type conversion in python.

Python supports a wide variety of function or method like: int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict() etc. for the type casting in python.

**Two Types of Typecasting:**

1. Explicit Conversion (Explicit type casting in python)

2. Implicit Conversion (Implict type casting in python)

**Explicit typecasting:**
The conversion of one data type into another data type, done via developer or programmer's intervention or manually as per the requirement is known as explicit type conversion.

It can be achieved with the help of Python's built in type conversion function such as int(), float(), hex(), oct(), str(), etc.

In [1]:
string = "25"
number = 5

string_number = int(string) # throws an error if the string is not a valid integer

sum = number + string_number

print(" The sum of both the numbers is:", sum)

 The sum of both the numbers is: 30

**Implicit type casting:**

Data types in python do not have the same level i.e ordering of data type is not the same in Python. Some of the data types have higer order and some have lower order. While performing any operation on variables with different data type in python, one of the varibles data types will be changed to the higher data type. According to the level, one data type is converted into other by the python interperter itself (automatically). This is called implicit typecasting in python.

Python converts a smaller data type to a higher data type to prevent data loss.

In [2]:
a = 7
print(type(a))

<class 'int'>

In [3]:
b =2.0
print(type(b))

<class 'float'>

In [5]:
c = a+b
print(c)
print(type(c))

9.0
<class 'float'>